{% extends "structure.html" %}

{% block header %}
  <h1>Список грузовых машин</h1>
{% endblock %}

{% block content %}
  {% include "trucks/includes/model_select.html" %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Бортовой №</th>
        <th scope="col">Модель</th>
        <th scope="col">Макс. Грузоподъемность, т.</th>
        <th scope="col">Текущий вес, т.</th>
        <th scope="col">Перегрузка, %</th>
      </tr>
    </thead>
    <tbody>
    {% for truck in trucks %}
      <tr>
        <th>{{ truck.truck_number }}</th>
        <td>{{ truck.trucks_model_name }}</td>
        <td>{{ truck.trucks_capacity_name }}</td>
        <td>{{ truck.truck_workload }}</td>
        <td>{{ truck.truck_overload }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}