<form class="row" method="post">
  {% csrf_token %}
  <div class="col-auto">
    <label for="form-select" class="pt-2">Модель</label>
  </div>
  <div class="col-auto">
    <select class="form-select border border-2" id="form-select" name="model_id" aria-label="Default select example">
      <option value="None" {% if cur_model_id == "None" %} selected{% endif %}>Все</option>
      {% for model in models %}
        <option value="{{ model.id }}" {% if model.id == cur_model_id %} selected{% endif %}>{{ model }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Применить</button>
  </div>
</form>