<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" lang="ru" content="Description">
  <meta name="keywords" lang="ru" content="Keywords">
  <title>{% block title %}Reksoft Testcase{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
  <body class="p-4">
    <div class="container" id="header">
      <h1>{% block header %}{% endblock header %}</h1>
      <hr>
    </div>
    <div class="container" id="content">
      {% block content %}{% endblock content %}
    </div>
    <div class="container" id="footer">
      {% block footer %}<p class="text-secondary">&copy; 2023, Ivan Semernyakov</p>{% endblock footer %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
  </body>
</html>